body{
    background-color: #fffff5;
}
h1{
    color: #31978f;
    text-align: center;
}
.sub-heading{
    color:#31978f;
    text-align: center;
    
}

.todo-items-container{
height: 100%;
overflow-y: scroll;
}

.todo-card{
    border: 1px solid black;
    border-left: 3px solid #31978f;
    margin: 10px 20px;
    padding:  0px 15px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.todo-add-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px ;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 37, 39);

}
.input-todo{
font-size: 20px ;
padding:  5px 10px;
margin-right: 10px;
width: 400px;
color: black;
}

.add-button{
    font-size: 20px;
    padding: 5px 15px;
    background-color: #31978f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-button:hover{
    background-color: #33c4b8;
}
.delete-icon{
    height: 20px;
   cursor: pointer;
}
.edit-icon{
    height: 20px;
   cursor: pointer;
   margin-right: 20px;
}